@using System.Web.Mvc;
@model List<ClayApplication.Service.ViewModel.DoorAccessLogViewModel>

@{
    ViewBag.Title = "ViewLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Access History</h2>

<div class="table">
    <header class="floating-div">
        <strong class="col-lg-3 strong">Name</strong>
        <strong class="col-lg-3 strong">Date</strong>
        <strong class="col-lg-3 strong">Status</strong>
        <strong class="col-lg-3 strong">Access</strong>
    </header>
    <div class="floating-div tab-content">
        @foreach (var log in Model)
        {
            <div class="floating-div">
                <div class="col-lg-3">@string.Format("{0} {1}", log.User.FirstName, log.User.LastName)</div>
                <div class="col-lg-3">@log.Date</div>
                <div class="col-lg-3">@(log.Status ? "Locked" : "Unlocked")</div>
                <div class="col-lg-3">@(log.AccessDenied ? "Denied" : "Accepted")</div>
            </div>
        }
    </div>
</div>
