@{
    ViewBag.Title = "Home Page";
}

<div class="home-intro">
    <h1>Doors Management</h1>
    <hr />
    <p>
        The Doors Manager Application is a web application that helps the authenticated user to manage smart
        keys of different properties and to define access to doors. The user can add new doors in the
        application, as an owner they can display the list of all doors and manage them by granting other
        users the permission to access to their doors. Every event occurred to every door (open/close, access
        accepted/access denied) is recorded, the owner can check the list of event history in a dedicated
        page.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>